doctype
html(lang="ar")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title تسوق
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap")
        link(rel="stylesheet", href="css/bootstrap4.min.css")
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/background.css")
        link(rel="stylesheet", href="css/main.css")
        link(rel="shortcut icon",type="img/png",href="images/logo.png")
    body.body3
        //- .overlay-1
        .overlay
        #stars
        #stars2
        #stars3  
        nav
            .container
                .main-nav
                    button.troger 
                        i.fas.fa-bars
                    .logo
                        img(src="images/logo2.png", alt="Logo")
                    .left-nav
                        .header
                            a(href="#").cross
                                img(src="images/cross.png", alt="cross")
                            
                            .info
                                img(src="images/user.png", alt="user")
                                h2 Mo3az Mohamed
                                p UI Developer
                        ul.list-unstyled.list
                            li
                                a(href="#") تقـــرير يـومي
                            li
                                a(href="#") تقــرير شهري

                            li
                                a(href="#")  إجـازات سنوية

                            li
                                a(href="#") طلـــــــــب إذن

                            li
                                a(href="#") إرسال شكوى
        .content
            .mainCon3
                .home
                    img(src="images/homes--evening.png", alt="").pig
                    img(src="images/homes--eveningSm.png", alt="").sm
                    .light-right
                        img(src="images/lightRught.png")
                    h2.titel tasawk
                    .light-left
                        img(src="images/lightLeft.png")

                .moon
                    img(src="images/moon.png", alt="moon")
                .employee-3
                    .employee-3_1
                        img(src="images/employee-3_1.png")
                    .employee-3_2
                        img(src="images/employee-3_2.png")
                    .employee-3_3
                        img(src="images/employee-3_3.png")

                //- .road
                    img(src="images/road.jpg", alt="street")
                //- .formes
                    img(src="images/logForm.png", alt="log form")
                    .logInForm.logCon
                        form(id="logInForm")
                            input(type="password" placeholder="الكود بتاعك").logInput
                            button.logButton.logbtn
                                span خبط وادخل
                    .logOut.logCon
                        form(id="logOut")
                            input(type="password" placeholder="الكود بتاعك").loginput.logOutInput
                            button.logbtn.logOutButton
                                span تسجيل خروج

                .welcome
                    img(src="images/massage.png", class="welcome-bac" alt="massage")
                    //.massage.ms1
                        img(src="images/emo1.png", alt="emo")
                        p صباح الخير: ظبط ساعتك ومتتأخرش تاني  لو سمحت
                    //- .massage.ms2
                    //-     img(src="images/emo2.png", alt="emo")
                    //-     p نورت مكتبك يامعلم      
                    .massage.ms3
                        img(src="images/emo2.png", alt="emo")
                        p نشوفك في الصباح علي خير يا غااالي      
            //1536
            .time
                .clock
                    img(src="images/clock.png")
                span.min 14
                span.timer :
                span.hour 15
        script(src="js/jquery.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/main.js")
        script(src="http://localhost:35729/livereload.js")