@font-face{
    font-family: 'Jazeera';
    src: url('../font/Al-Jazeera-Arabic-Regular.ttf');
}
@font-face{
    font-family: 'MyriadArabic';
    src: url('../font/MyriadArabic-Regular.otf');
}
@font-face{
    font-family: 'digital';
    src: url('../font/digital-7-mono.ttf');
}
