@font-face{
    font-family: 'Jazeera';
    src: url('../font/Al-Jazeera-Arabic-Regular.ttf');
}
@font-face{
    font-family: 'MyriadArabic';
    src: url('../font/MyriadArabic-Regular.otf');
}
//1920